.projects-content {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
}

.projects-text {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(213,181,110);
    padding-top: 350px;
    padding-left: 150px;
    min-width: 400px;
}

.projects-list {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 550px;
    padding-bottom: 200px;
}

.menagerie-project,
.muse-project,
.youtube-project,
.wordie-project {
    display: flex;
    flex-direction: column;
    align-items: center;

}



.menagerie-word,
.muse-word,
.youtube-word,
.wordie-word {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(213,181,110);
    border-style: solid;
    border-radius: 15px;
    padding: 10px;
    background-color: #023020;
    width: fit-content;
}


.menagerie-description,
.muse-description,
.youtube-description,
.wordie-description {
    font-size: 15px;
    margin-top: -10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 450px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    border-style: solid;
    border-color: rgb(213,181,110);
    color: #023020;
}

